{% load static %}
{% block content %}

<div class="row">

    <div class="col-md-9">
      <div class="pt-5 pb-1">
        <h2>Tip Calculator</h2>
        <p class="lead">The navigation bar is under construction and non-functioning.</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="row">
        <div class="input-group pt-5">
            <input class="form-control text-center" id="start-date" type="text" placeholder="" aria-label="Select Start Date">
            <span class="input-group-text">to</span>
            <input class="form-control text-center" id="end-date" type="text" placeholder="" aria-label="Select End Date">
        </div>
      </div>
    </div>

</div>

{% endblock %}